{% extends 'base.html.twig' %}

{% block title %}Hello ReportsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    Please enter the Account ID you'd like to display:

    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/wsm-backend-test-lnpm/src/Controller/ReportsController.php'|file_link(0) }}">src/Controller/ReportsController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/wsm-backend-test-lnpm/templates/reports/index.html.twig'|file_link(0) }}">templates/reports/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
